[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyppeteer = "==2.0.0"
beautifulsoup4 = "==4.12.3"
flask = "==3.1.0"
python-dateutil = "==2.9.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"

[scripts]
start = "bash -c 'PYTHONPATH=. python -m src.api'"
test = "bash -c 'PYTHONPATH=. pytest tests/ -v'"
bump = "python scripts/bump_version.py"
